<h1>Donate to Ethan's college fund</h1>

<form method="post">
  Amount: <input type="text" name="amount" id="amount">
  <input type="submit">
</form>

<h2>Donations</h2>

<ul>
{{#each donations}}
  <li>{{amount}} ({{_id}})
{{/each}}
</ul>

<script>
$('form').on('submit', function(e) {
  var amt = $('#amount').val();
  if (amt <= 0) {
    alert('Amount must be greater than 0!');
    e.preventDefault();
  }
});
</script>
