<div class="containter">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Stage 2</h1>
      </div>
      <p>You've
    </div>
  </div>
</div>

<script>
</script>
