<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Stage 6: Insecure messenger</h1>
    </div>
    <p>
      This is a very simple app that lets you send messages between different
      users on this site.
    </p>
    <p>
      A website is only as secure as its cookies. If you can steal someone's
      cookie you can impersonate them.
      This page is vulnerable because it prints out messages received on the page
      without escaping (i.e. sanitizing) HTML.
    </p>
    <p>
      We can run JavaScript on other users' pages by sending them messages with
      this page containing the <code>&lt;script&gt;</code> tag.
      Cookies are accessible (by default) in JavaScript via
      <code>document.cookie</code>.
      So if we craft the right script tag, we can steal their cookie!
    </p>
    <p>
      <h2>Steps</h2>
      <ol>
        <li>
          Send the following message to yourself and verify that your cookie is
          printed to the console when you refresh.
          <script src="https://gist.github.com/moose-horizons/d4f6acc7fbf4721d9249ffcdc516dc97.js"></script>
        </li>
        <li>
          TODO Run an express server on your localhost
        </li>
        <li>
          TODO modify script to send to localhost
        </li>
        <li>When you're done, go to <a href="stage7">stage 7.</a></li>
      </ol>
    </p>
    {{> messenger}}
  </div>
</div>
