<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>You've completed Exercise 1! 🎉</h1>
    </div>
    <p>
      Great! Let's now fix the security bugs we have found.
    </p>
    <p>
      Clone
      <a href="https://github.com/horizons-school-of-technology/steal-this-app">
        the GitHub repository <code>steal-this-app</code>
      </a>
      and fix the issues we have found so far in <code>app.js</code>.
      Follow the instructions for `Part 2: Fix`.
    </p>
  </div>
</div>
