<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Stage 6: Insecure messenger</h1>
    </div>
    <p>
      This is a very simple app that lets you send messages between different
      users on this site.
    </p>
    <p>
      <h2><a href="https://github.com/horizons-school-of-technology/steal-this-app/blob/master/exercise2.md#part-1-hack">Instructions on GitHub</a></h2>
    </p>
    <p>
      <h2>Steps</h2>
      <ol>
        <li>
          Send the following message to yourself and verify that your cookie is
          printed to the console when you refresh.
          <script src="https://gist.github.com/moose-horizons/d4f6acc7fbf4721d9249ffcdc516dc97.js"></script>
        </li>
        <li>
          TODO Run an express server on your localhost
        </li>
        <li>
          TODO modify script to send to localhost
        </li>
        <li>When you're done, go to <a href="stage7">stage 7.</a></li>
      </ol>
    </p>
    {{> messenger}}
  </div>
</div>
