<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Stage 6: Stealing cookies, drive-by edition</h1>
    </div>
    {{#if msg}}
      <div class="alert alert-success">
        {{{msg}}}
      </div>
    {{/if}}
    <p>
      A website is only as secure as its cookies. If you can steal someone's
      cookie you can impersonate them.
    </p>
    <p>
      This page is vulnerable because it prints out
    </p>
    <p>
      Go to <a href="stage7">stage 7 when you get that working</a>
    </p>
  </div>
</div>
