<div class="containter">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Stage 1: Insecure login form</h1>
      </div>
      <p>
        Welcome to Steal This App! This app will teach you how to exploit common
        web security bugs so you can avoid making these mistakes in your own
        code.
      </p>
      <p>
        For the first stage we present you an insecure login form. Bypass
        security by either finding
      </p>
      <p>
        Hint: Try view source.
      </p>


      <form id="login" action="/{{stage2}}">
        Password: <input id="password" type="password">
        <input type="submit">
      </form>
    </div>
  </div>
</div>

<script>
$('#login').on('submit', function(e) {
  var password = $('#password').val();
  if (password !== 'gingerbread') {
    alert('Wrong password!');
    e.preventDefault();
  }
});
</script>
